<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AdminLoginBeanMapper">
  <resultMap id="BaseResultMap" type="bean.AdminLoginBean">
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="a_account" jdbcType="VARCHAR" property="aAccount" />
    <result column="a_password" jdbcType="VARCHAR" property="aPassword" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a_id, a_account, a_password
  </sql>
  <select id="selectByExample" parameterType="bean.AdminLoginBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ADMIN_LOGIN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ADMIN_LOGIN_INFO
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ADMIN_LOGIN_INFO
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="bean.AdminLoginBeanExample">
    delete from ADMIN_LOGIN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bean.AdminLoginBean">
    insert into ADMIN_LOGIN_INFO (a_id, a_account, a_password
      )
    values (#{aId,jdbcType=INTEGER}, #{aAccount,jdbcType=VARCHAR}, #{aPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="bean.AdminLoginBean">
    insert into ADMIN_LOGIN_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="aAccount != null">
        a_account,
      </if>
      <if test="aPassword != null">
        a_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aAccount != null">
        #{aAccount,jdbcType=VARCHAR},
      </if>
      <if test="aPassword != null">
        #{aPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bean.AdminLoginBeanExample" resultType="java.lang.Long">
    select count(*) from ADMIN_LOGIN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ADMIN_LOGIN_INFO
    <set>
      <if test="record.aId != null">
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.aAccount != null">
        a_account = #{record.aAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.aPassword != null">
        a_password = #{record.aPassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ADMIN_LOGIN_INFO
    set a_id = #{record.aId,jdbcType=INTEGER},
      a_account = #{record.aAccount,jdbcType=VARCHAR},
      a_password = #{record.aPassword,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bean.AdminLoginBean">
    update ADMIN_LOGIN_INFO
    <set>
      <if test="aAccount != null">
        a_account = #{aAccount,jdbcType=VARCHAR},
      </if>
      <if test="aPassword != null">
        a_password = #{aPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bean.AdminLoginBean">
    update ADMIN_LOGIN_INFO
    set a_account = #{aAccount,jdbcType=VARCHAR},
      a_password = #{aPassword,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="bean.AdminLoginBean">
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="a_account" jdbcType="VARCHAR" property="aAccount" />
    <result column="a_password" jdbcType="VARCHAR" property="aPassword" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    a_id, a_account, a_password
  </sql>
  <select id="selectByExample" parameterType="bean.AdminLoginBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ADMIN_LOGIN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ADMIN_LOGIN_INFO
    where a_id = #{aId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ADMIN_LOGIN_INFO
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="bean.AdminLoginBeanExample">
    delete from ADMIN_LOGIN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bean.AdminLoginBean">
    insert into ADMIN_LOGIN_INFO (a_id, a_account, a_password
      )
    values (#{aId,jdbcType=INTEGER}, #{aAccount,jdbcType=VARCHAR}, #{aPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="bean.AdminLoginBean">
    insert into ADMIN_LOGIN_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="aAccount != null">
        a_account,
      </if>
      <if test="aPassword != null">
        a_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="aAccount != null">
        #{aAccount,jdbcType=VARCHAR},
      </if>
      <if test="aPassword != null">
        #{aPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bean.AdminLoginBeanExample" resultType="java.lang.Long">
    select count(*) from ADMIN_LOGIN_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ADMIN_LOGIN_INFO
    <set>
      <if test="record.aId != null">
        a_id = #{record.aId,jdbcType=INTEGER},
      </if>
      <if test="record.aAccount != null">
        a_account = #{record.aAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.aPassword != null">
        a_password = #{record.aPassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ADMIN_LOGIN_INFO
    set a_id = #{record.aId,jdbcType=INTEGER},
      a_account = #{record.aAccount,jdbcType=VARCHAR},
      a_password = #{record.aPassword,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bean.AdminLoginBean">
    update ADMIN_LOGIN_INFO
    <set>
      <if test="aAccount != null">
        a_account = #{aAccount,jdbcType=VARCHAR},
      </if>
      <if test="aPassword != null">
        a_password = #{aPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bean.AdminLoginBean">
    update ADMIN_LOGIN_INFO
    set a_account = #{aAccount,jdbcType=VARCHAR},
      a_password = #{aPassword,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>